/* start here*/

.card {
    font-family: Ubuntu;
    color: #737373;
    border: 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px #D8D8D8;
    padding: 20px;
    max-width: 600px;

}


.menuItem{
    max-width: 600px;
}
.card-img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.itemPic img{
    text-align: center;
    width: 180px;
    height: 150px;
    border-radius: 20%;
}



.backIcon{
    text-align: left;

}

.btmBtn{
    text-align: right;
}

.btmBtn.icon img{
    width: 25px;
    height: 25px;
}

.item-description{
    margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
    .itemPic img{
        width: 120px;
        height: 100px;
    }

    .btmBtn.icon img{
        width: 15px;
        height: 15px;
    }

    .price a{
        font-size: 50%;
    }

    .item-description{
        margin-bottom: 10px;
        font-size: 60%;
    }


}


