@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.card {
    font-family: Ubuntu;
    color: #737373;
    border: 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px #D8D8D8;
    padding: 20px;
    max-width: 800px;
}

.mealName{
    font-family: 'Ubuntu', Arial;
    color: #744B28;
    text-align: center;
}

.price{
    font-family: Ubuntu;
    color: #858585;
    text-align: center;
}

.itemBadge{
    position: absolute;
    top: 20px;
    right: 20px;
}

.imageSection{
    border: 0;
    margin: 0;
    width: 100%;
    height: 400px;
}

.showImage{
    border: 0px;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*background-size: */
}

.info{
    margin: auto;
    text-align: center;
    object-position: center;
}

#firstIcon{
    color: white;
    background-color: white;
    border: 0px;
    margin: auto;
    text-align: center;
    object-position: center;
}
.icon{
    height: 30px;
    width: 30px;
}


.btn-circle {
    font-family: Ubuntu;
    background-color: #744B28;
    width: 45px;
    height: 45px;
    margin: auto;
    text-align: center;
    padding: 0;
    border: 0px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px -5px #D8D8D8;
}
.btn-circle:hover{
    background-color: #9DCD53;
}

.btns{
    text-align: center;
}

#quantity{
    color: black;
    background: white;
}

.cartBtn{
    background-color: #9DCD53;
    color: white;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px -5px #D8D8D8;
    max-width: 300px;
    margin: auto;
    text-align: center;

}
.cartBtn:hover{
    background-color: #744B28;
}


.desc{
    font-family: Ubuntu;
    color: #AAAAAA;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.form-group{
    font-family: Ubuntu;
    color: #9DCD53;
    text-shadow: 1px 1px 10px #AAAAAA;
    max-width: 300px;
    text-align: center;
    object-position: center;
    margin: auto;
}

.btmBtn{
    text-align: right;
    display: inline-block;
    padding: 0;
    margin: 0 5px;
}

.btmBtn.icon img{
    width: 30px;
    height: 30px;
}

.cartContainer {
    position: absolute;
    bottom: 50px;
}

@media only screen and (max-width: 600px) {

    .titleHeader h5{
        font-size: 100%;
    }

    .imageSection{
        border: 0;
        margin: 0;
        width: 100%;
        height: 300px;
    }

    .card {
        box-shadow: none;
        max-width: 600px;

    }

    .itemBadge{
        position: absolute;
        top: 9px;
        right: 9px;
    }

    .cartContainer {
        position: relative;

    }

    .btmBtn.icon img{
        width: 25px;
        height: 25px;
    }
}


@media only screen and (max-width: 400px) {
    .imageSection{
        border: 0;
        margin: 0;
        width: 100%;
        height: 200px;
    }

}


